*{
    margin: 0;
    padding: 0;
    background-color: darkred;
}

body{
    margin: 0;
    font-family: 'Water Brush', cursive;
    font-size: 72px;
    color: yellow;
}
p{
    font-size: 72px;
}
.board{
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}

.element{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#e0,#e3,#e6{
    border-left: none;
}

#e0,#e1,#e2{
    border-top: none;
}

#e2,#e5,#e8{
    border-right: none;
}

#e6,#e7,#e8{
    border-bottom: none;
}