* {
    margin: 0;
    padding: 0;
    background-color: #012622;
}

body {
    margin: 0;
    font-family: 'Fredericka the Great', serif;
    /* font-family: 'Righteous', sans-serif;     */
    color: silver;
}

.title {
    margin-top: 1rem;
}

#title {
    font-size: 4rem;
    text-align: left;
    margin-left: 1rem;
}

.counter {
    height: 7rem;
    width: 100%;
}

table {
    height: 100%;
    width: auto;
    font-size: 1.2rem;
    float: right;
    margin-right: 20px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid silver;
}

th,
td {
    padding: 0.5rem;
}

.board {
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 3rem;
    width: 19.4rem;
    height: 19.4rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}

.element {
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #C0C0C0;
    position: relative;
    font-size: 4.5rem;
}


#e0,
#e3,
#e6 {
    border-left: none;
}

#e0,
#e1,
#e2 {
    border-top: none;
}

#e2,
#e5,
#e8 {
    border-right: none;
}

#e6,
#e7,
#e8 {
    border-bottom: none;
}

.element:hover:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
}